* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #2c2b3d;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #fff;
}

span {
  color: #00bfa6;
  font-weight: 700;
}

ul li a,
h1,
footer p {
  font-family: "JetBrains Mono", monospace;
}

.page {
  width: 1080px;
  margin: 0 auto 23px;
  padding-top: 70px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 64px;
}

nav ul li {
  list-style: none;
}

nav ul li a,
footer {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
}

nav ul li a:hover,
footer p a:hover {
  color: #00bfa6;
}

nav img {
  width: 168px;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  margin: 100px auto 157px;
}

main img {
  width: 400px;
}

section {
  width: 605px;
  text-align: center;

  padding-top: 6px;
}

section h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;

  margin-bottom: 60px;
}

section p {
  color: #c2c2c2;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

section p + p {
  margin-top: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 27px;
}

footer p {
  color: #fff;
  font-weight: 500;
  line-height: 28px;
}

.line {
  background: #00bfa6;
  width: 568px;
  height: 1px;
}

.padlock {
  position: fixed;
  left: 20px;
  bottom: 20px;
}